[submodule "services/amplify-air"]
	path = services/amplify-air
	url = https://github.com/alexbakimpv/amplifychat-1eee5cdc.git
[submodule "services/manager"]
	path = services/manager
	url = https://github.com/alexbakimpv/appsec-unilab-manager.git
[submodule "services/attack-client"]
	path = services/attack-client
	url = https://github.com/alexbakimpv/amplify-attack-client.git
